* {
    background-color: transparent;

    width: auto;
    height: auto;
    min-height: auto;
    min-width: auto;

    border: none;
    outline: none;

    font-size: 16px;
    font-family: Discovery, Arial, sans-serif;
    font-weight: 400;

    transform-origin: center center;

    user-select: none;

    box-sizing: border-box;

    margin: 0;
    padding: 0;

    text-align: left;

    -webkit-tap-highlight-color: transparent;
}

html {
    width: 100%;
    height: 100%;

    position: relative;

    overflow: hidden;
}

body {
    position: absolute;

    width: 100%;
    height: 100%;

    overflow: hidden;

    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;
    -ms-overflow-style: none;
}

ul, ol {
    list-style: none;
}